@keyframes grow-circle {
  from {
    background-color:rgba(212,188,137, 1);
    border: 2px solid #d4bc89;
    transform: scale(0);
  }
  to {
    background-color:rgba(212,188,137, 0);
    transform: scale(1);
    border: 2px solid #bd7e76;
  }
}

.circle-spinner{
  position:relative;
  width:50px;
  height: 50px;
  border-radius:40px;
  border: 2px solid #bd7e76;
  &__circle{
    position: absolute;
    box-sizing:border-box;
    width:100%;
    height: 100%;
    border-radius:inherit;
    animation: grow-circle 1s infinite linear;
    &-delay {
      animation-delay: 500ms;
    }
  }
}




